@font-face{
    src: url(font/Poppins-regular.ttf);
    font-family: poppins-regular;
}
*{
    font-family: poppins-regular, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#bc9667;
    --second-color:#edeae3;
    --text-color:#ad6161;
    --bg-color:#fff;
    --third-color:rgb(4 55 54/15%);
    --forth-color:rgb(5, 29, 33);
    --box-shadow:2px 2px 4px rgb(14 55 54/15%)
}
section{
  padding: 150px 100px;
}
img{
  width: 100%;
}
body{
  color: rgb(15, 13, 13);
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  transition: 0.5s linear;
  background: rgb(0, 0, 0);
}
header .shadow{
  background: var(--text-color);
  box-shadow: var(--box-shadow);
}
.logo{
    width: 100px;
}
.navbar{
    display: flex;
}
.navbar a{
  padding: 8px 17px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover{
  background: rgb(196, 190, 194);
  border-radius: 1rem;
  transition: 0.2s all linear;
}
.header-icon{
  font-size: 30px;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  column-gap: 0.8rem;
}
.header-icon .bx{
  color: white;
}
.header-icon .bx:hover{
  color: rgb(196, 190, 194);
}
.home{
  margin: 30px;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
  align-items: center;
  gap: 1.5rem;
}
.home-text h1{
  font-size: 3.4rem;
  color: rgb(1, 1, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home-text p{
  padding: 1rem;
  font-size: 2.0rem;
  color: rgb(181, 12, 173);
  margin: 0.5rem 0 1.4rem;
}
.btn{
  padding: 10px 40px;
  border-radius: 1rem;
  background: rgb(181, 12, 173);;
  color: black;
  font-weight: 500;
  font-size: 30px;
  font-style: italic;
}
.home-img{
  width: 600px;
}
.btn:hover{
  background: rgb(196, 190, 194);
}
.about{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
  gap: 1.5rem;
  margin-top: 4rem
}
.about-text h2{
  font-size: 1.5rem;
  text-transform: uppercase;
}
.about-text p{
  font-size: 0.850rem;
  margin: 0.5 rem 0 1.1rem;
}
.heading{
  text-align: center;
  margin-top: 2rem;
}
.heading h2{
  font-size: 1.5rem;
  text-transform: uppercase;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.product-container .box{
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: white;
}
.product-container img{
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
 
  border-radius: 0.5rem;
}
.product-container .box h3{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem 0 0.5rem;
}
.product-container .box a{
  border: 2px solid rgb(230, 221, 221);
  border-radius: 30px;
}
.product-container .box a:hover{
  background: rgb(113, 113, 124);
  transition: 0.2s all linear;
}
.product-container .box .content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-container .box .content span{
  padding: 0 1rem;
  color: white;
  background: rgb(193, 190, 190);
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
}